.appointments-container {
  margin: 20px;
  height: fit-content;
  margin-left: 60px;
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.add-appointment-button {
  margin-top: 10px;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.add-appointment-button:hover {
  background-color: #45a049;
}

.full-calendar-container {
  margin-top: 20px;
}

.dialog-form {
  position: relative;
  background-color: #7d62ae ;
  padding: 20px  ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dialog-form div {
  margin-bottom: 20px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}



.close-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #666;
}


@media (max-width: 600px) {
  .add-appointment-button {
    font-size: 14px;
  }
}

.card-container {
  background-color: #d1c4e9;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-button {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 20px;
  color: #5e35b1 ;
}


.dialog-form {
  display: flex;
  flex-direction: column;
}

.dialog-form div {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.save-button {
  background-color: #5e35b1 ;
  color: white;
}

.cancel-button {
  background-color: #7986cb ;
  color: white;
}


.full-calendar-container {
  margin-top: 20px;
}



.fc-daygrid-event, .fc-time-grid-event {
  background-color: #7986cb ;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 14px;
  
}
.appointments-container select {
  width: 20%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  background-color: #a3a7db; 
  color: #333; 
  cursor: pointer;
}

.appointments-container select:hover {
  background-color: #f5f5f5; 
}

.appointments-container select:focus {
  outline:blueviolet;
  border-color: #5e35b1;
}

@media (max-width: 600px) {
  .fc-header-toolbar {
    font-size: 14px;
  }

  .fc-header-toolbar button {
    font-size: 14px;
  }

  .fc-event-main {
    font-size: 12px;
  }
}

