.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .right_section {
    display: flex;
    gap: 20px;
  }
  
  .profile, .logout, .theme_switcher {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon {
    font-size: 25px;
  }
  
  .link {
    color: inherit;
    text-decoration: none;
  }
  
  .button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .light {
    background: #fff;
    color: #000;
  }
  
  .dark {
    background: #000;
    color: #fff;
  }